<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <div
      id="user-data"
      data-user="<%= JSON.stringify(user) %>"
      data-redirect-url="<%= redirectUrl %>"
    ></div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // 유저 정보를 전역 변수에 설정
        const userDataElement = document.getElementById("user-data");
        const user = JSON.parse(userDataElement.getAttribute("data-user"));
        const redirectUrl = userDataElement.getAttribute("data-redirect-url");
        window.__USER__ = user;

        // 전역 변수 확인을 위한 콘솔 로그
        console.log("User data set to window.__USER__:", window.__USER__);

        // 리다이렉션 처리
        // window.location.href = redirectUrl;
      });
    </script>
  </body>
</html>
