<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link href="/css/tailwind.css" rel="stylesheet" />
  </head>
  <body
    class="flex items-center justify-center min-h-screen bg-gray-100 font-roboto"
  >
    <div class="max-w-sm p-8 bg-white rounded-lg shadow-lg max">
      <h1 class="mb-6 text-2xl font-semibold text-center">로그인</h1>
      <form class="space-y-4" action="/login" method="POST">
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700"
            >ID</label
          >
          <input
            type="name"
            id="name"
            name="name"
            class="block w-full p-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
            required
          />
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="block w-full p-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
            required
          />
        </div>
        <div>
          <button
            type="submit"
            class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Sign in
          </button>
        </div>
      </form>
      <div class="mt-4 text-right">
        <a
          href="/register"
          class="text-sm text-indigo-600 hover:text-indigo-800"
          >회원가입</a
        >
      </div>
    </div>
  </body>
</html>
